[user]
	name = James Acklin
	email = james.acklin@gmail.com
[color]
  status = auto
  branch = auto
[alias]
  st = status
  ci = commit
  co = checkout
[push]
  default = simple
[credential]
  helper = cache
  username = james.acklin@gmail.com

[core]
  editor = vim
	excludesfile = /Users/jamesacklin/.gitignore_global
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/jamesacklin/.stCommitMsg
